name: Node.js Package

on:
  pull_request:
    branches:
      - main
  release:
    types:
      - published

env:
  NODE_VERSION: 20.12.2
  CACHE_PACKAGE_MANAGER: "yarn"

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.CACHE_PACKAGE_MANAGER }}
      - name: Dependencies installation
        run: yarn install --frozen-lockfile
      - name: Format check
        run: yarn format-check
      - name: ESLint check
        run: yarn eslint-check
      - name: TypeScript check
        run: yarn ts-check

  build_and_publish:
    if: startsWith(github.event.release.tag_name, 'v') && contains(github.event.release.tag_name, '.')
    name: Build and Publish
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.CACHE_PACKAGE_MANAGER }}
      - name: Dependencies installation
        run: yarn install --frozen-lockfile
      - name: Build package
        run: |
          yarn build
          npm set //registry.npmjs.org/:_authToken=${{ vars.NPM_PUBLISH_TOKEN }}
          npm publish
